body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
}

button[name='delete'] {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button[name='delete']:hover {
    background-color: #c82333;
}

button.new-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button.log-out {
    background-color: #e56767;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button.new-message:hover {
    background-color: #218838;
}

button.log-out:hover{
    background-color: darkred;
}

button.log-in{
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button.log-in:hover{
    background-color: #218838;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}